title{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
h1{
    /* font-family: 'Molle', cursive; */
    font-family: 'Red Rose', cursive;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}
h1 a{
    /* font-family: 'Molle', cursive; */
    font-family: 'Red Rose', cursive;
    font-weight: 400;
    justify-content: center;
    font-size: 100px;
}

.container_one{
    /* filter: url(#grainy); */
    /* filter: contrast(150%) brightness(300%); */
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 50px;
    border: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;

    background: radial-gradient(red, orange, yellow);
    font-size:x-large;
    font-family: 'Croissant One', cursive;
    animation: moving 5ms linear infinite;
    transition: 2s;
}
.container_one:hover{
    background: radial-gradient(rgb(0, 176, 189), rgb(0, 129, 138), rgb(0, 116, 125));
    color: white;
    animation: moving 20s linear infinite;
    text-decoration: none;

    border: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
}
@keyframes moving{
    0%      {top: 0px; left: 0px}
    25%     {top: 8px; left: 26px}
    50%     {top: 90px; left: -6px}
    75%     {top: 27px; left: 37px}
    100%    {top: 0px; left: 0px}
}
.container_two{ 
    position: relative;
    justify-content: center;
    /* height: 500px; */
    object-fit: fill;
    /* max-width: auto; */
    color: white;
}

.container_two pre{
    text-align: left;
}
.radial-gradient{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;

    background-image: radial-gradient(
        farthest-corner at 0px 0px,
        #F0BCD4 0%,
        #DA4167 50%,
        #8A1C7C 100%
    );
}
/* -------------------------BOXES---------------------------- */
.button{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border: solid;
    border-color: white;

    transform-style: preserve-3d;
    transform: rotateX(19deg);

}
.button:hover{
    background: white;
    transform: scale(1.1);
}

.purple-box{
    position: relative;
    background-color: rebeccapurple;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.red-box{
    position: relative;
    background-color:crimson;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.pink-box{
    position: relative;
    background-color:pink;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.orange-box{
    position: relative;
    background-color:orange;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box{
    position: relative;
    background-color:yellow;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box1{
    position: relative;
    background-color:yellow;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box2{
    position: relative;
    background-color:#FCDE9C;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box3{
    position: relative;
    background-color:#FFA552;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box4{
    position: relative;
    background-color:#BA5624;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box5{
    position: relative;
    background-color:#381D2A;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box6{
    position: relative;
    background-color:#C4D6B0;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box7{
    position: relative;
    background-color:#69A297;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box8{
    position: relative;
    background-color:#50808E;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box9{
    position: relative;
    background-color:#FBFBFF;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box10{
    position: relative;
    background-color:#C47335;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box11{
    position: relative;
    background-color:#F19953;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box12{
    position: relative;
    background-color:#990033;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box13{
    position: relative;
    background-color:#660000;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
.yellow-box14{
    position: relative;
    background-color:#D1BE9C;
    width: 250px;
    height: 250px;
    perspective: 100px;

    transform: rotateZ(19deg);
}
/* -------------------------BOXES END---------------------------- */
.drop_down{
    animation: loopingColors 20s alternate infinite;
    background-color: aliceblue;
    background-size: 200%;
    font-size: 20px;
    color: white;
}
.drop_down_button{
    padding: 15px 20px;
    background: white;
    border: none;
    border-radius: 10px;
    transition: .5s;

}
.drop_down_button:hover {
    background: #CBF7ED;
    box-shadow: 5px 5px 2px #0000005a;
}
@keyframes loopingColors {
    0%      {background-color: #904C77;}
    25%     {background-color: #E49AB0;}
    50%     {background-color: #ECB8A5;}
    75%     {background-color: #ECCFC3;}
    100%    {background-color: #957D95;}
}

a{
    text-decoration: none;
}
ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    display: inline-block
}

ul li:hover ul{
    display: block;
}
ul li ul{
    position: absolute;
    width: 200px;
    /* height: max-content; */
    display: none;
    box-shadow: 0px 8px 16px 0px #0000005a;
}
ul li ul li{
    display: block !important;
    padding: 10px 30px;
    transition: 500ms;
    color: black;

}
ul li ul li:hover{
    background-color: red;
    color: white !important;
    
}